.text-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 66%;
  top: 35%;
}

.text-wrapper h1 {
  font-family: 'Alexandria', sans-serif;
  font-size: 40px;
  width: 400px;
  margin-bottom: 20px;
}

.text-wrapper p {
  font-family: 'Roboto', sans-serif;

  font-size: 18px;
  width: 400px;
  margin-top: 30px;
}

.first-image {
  position: absolute;
  top: 25%;
  right: 38%;
}

.second-image {
  top: 131%;
  position: absolute;
  left: 35%;
}

.second-text-wrapper {
  display: flex;
  position: absolute;
  justify-self: center;
  top: 150%;
  right: 45px;
  left: 10%;
  right: 75%;
  flex-direction: column;
}

.second-text-wrapper h2 {
  font-family: 'Alexandria', sans-serif;
  margin-bottom: 30px;
  font-size: 40px;
}

.second-text-wrapper p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 30px;
}
